.App-header {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: white;
    height: 50px;
  }

  .App-logo {
    height: 50px;
    pointer-events: none;
  }

  .App-title{
    /* 占领余下所有区域 */
    flex: 1;
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    color: #61dafb;

  }